@import 'bootstrap-icons/font/bootstrap-icons.css';

.pop-container {
  position: relative;
  /* height: 500px; */
  height: 400px;
  background-color: #232323;
  /* width: 500px; */
  /* overflow: hidden; */
  /* zoom: 1.2; */
  scale: 1.5;
}


.video-container {
  position: relative;
  height: 195px;
  overflow: hidden;
  width: 320px;
}

.custom-mute-button {
  position: absolute;
  margin-left: 10px;
  bottom: 0;
  margin-bottom: 20px;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 1.5em;
  background-color: white;
  border-radius: 100%;
}

.custom-play-button {
  position: absolute;
  margin-left: 10px;
  /* bottom: 0; */
  margin-top: 5px;

  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 1.5em;
  background-color: white;
  border-radius: 100%;
}

.custom-add-button {
  position: absolute;
  margin-left: 60px;
  /* bottom: 0; */
  margin-top: 5px;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 1.5em;
  background-color: white;
  border-radius: 100%;
}

.custom-remove-button {
  position: absolute;
  margin-left: 60px;
  /* bottom: 0; */
  margin-top: 5px;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 1.5em;
  background-color: white;
  border-radius: 100%;
}

.information-div {
  position: absolute;
  /* margin-top: 70px; */
  bottom: 0;
  margin-bottom: 10px;
  margin-left: 10px;
}

.popout {
  animation: popout 1s ease;
  -webkit-animation: popout 1s ease;

}

@keyframes popout {
  from {
    transform: scale(0)
  }

  80% {
    transform: scale(1.2)
  }

  to {
    transform: scale(1)
  }
}

@-webkit-keyframes popout {
  from {
    -webkit-transform: scale(0)
  }

  80% {
    -webkit-transform: scale(1.2)
  }

  to {
    -webkit-transform: scale(1)
  }
}