.text-white {
    color: white;
}



html body{
color: white;
    background-color: #252323;
}

.z-index-minus-1{
    z-index: -1;
    position: relative;

}
.z-index-0{
    z-index: 0;
    position: relative;
}
.z-index-1{
    z-index: 1;
    position: relative;
}
.z-index-2{
    z-index: 2;
    position: relative;

}
.z-index-3{
    position: relative;
    z-index: 3;
}
.z-index-4{
    position: relative;
    z-index: 4;
}
.z-index-5{
    position: relative;
    z-index: 5;
}

.z-index-999{
    position: relative;
    z-index: 999;
}