body {
    background-image: url('https://assets.nflxext.com/ffe/siteui/vlv3/5e16108c-fd30-46de-9bb8-0b4e1bbbc509/5f1f69fb-60cd-4630-a952-24db1a8b342a/IL-en-20240205-popsignuptwoweeks-perspective_alpha_website_small.jpg');
    display: flex;
    justify-content: center;
    align-items: center;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    /* Adjust the last value for opacity (0.8 in this example) */
}

form {
    color: white;

}

form label {
    color: white;
}

form input {
    color: gray;
    background-color: transparent;
}

.sign-div {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 50px;
    border: 5px solid black;
    background-color: rgba(0, 0, 0, 0.6);

}


.form-container {
    display: flex;
    flex-direction: column;
}

.test {
    margin: 5px;
}

.sign-button {
    background-color: red;
    color: white;
}

.sign-label {
    color: white;
}